boto3>=1.34.0
psycopg2-binary>=2.9.9


aws lambda publish-layer-version \
  --layer-name psycopg2-py313 \
  --zip-file fileb://psycopg2-layer.zip \
  --compatible-runtimes python3.13 \
  --compatible-architectures x86_64 \
  --region ap-south-1

# DB_HOST = 
# DB_PORT = "5432"
# DB_NAME = postgres
# DB_USER = postgres
# DB_PASSWORD = password123!